*{
  font-size:100%;
  font-style:noaml;
  font-weight:400;
  margin:0;
  padding:0;
  vertical-align:baseline;
  border:0;
  background:none;
}

a, button, details , input[type=button] , input[type=checkbox] ,
input[type=file], input[type=radio], input[type=reset],input[type=submit],
label, select{
  cursor:pointer;
}
a{
  text-decoration: none;
}
dl,ol,ul{
  list-style: none;
}
embed, img, object,picture, svg, video{
  display: block;
  height:auto;
  max-width:100%;
}