
body{
  padding:0;
  margin:0;
}

#input_box{
  width:600px;
  margin:0 auto;
  background:#368AFF;
  padding:20px 70px;
  box-sizing: border-box;  /* 현재박스의 크기에 여백 포함 */
  border-radius: 10px;
}
.line{
  margin:10px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  display: inline-block;
  width:130px;
  height:40px;
  font-size:23px;
  line-height:40px;
  text-align:center;
  background:#fff;
  border:2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}
.bar{
  border:2px solid white;
  height:25px;
  background: #fff;
  display:inline-block;
}
.line input{
  width:280px;
  border-radius: 10px;
  height:40px;
  box-sizing: border-box;
}
.line4 button{
  width:100%;
  height:50px;
  font-size:25px;
  line-height:50px;
  border-radius: 10px;
  background:#050099;
  color:white;
}